.head{
    font-family:  'Droid Serif', arial, verdana;
    color:#BF0413 ;
    /* position: absolute; */
    left: 65%;
    /* transform: translate(-50%,-50%); */
    font-size: 70px;
    margin: 35px;
    text-align: right;
    /* float: right; */
}

#head1{
    font-size:90px;
    color:#f30531;
}
/* #head1{
    top: 2%;
}
#head2{
    top: 20%;
}  
#head3{
    top: 90%;
}
#head4{
    top: 160%;
} */

  

body{
    background-image: url(image.jpg);
    background-attachment: fixed;
    background-position-x: 50%;
    background-size: 100%;
    background-position-y: 70%;
    overflow: hidden;
}
.para{
    color: rgb(235, 235, 235);
    padding:10px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 30px;
    left:65%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    max-width: 50%;
}
/* #para1{
    top: 60%;
    left: 65%;
}
#para2{
    top: 130%;
    left: 65%;
}
#para3{
    top: 200%;
    left: 65%;
} */

@media screen and (max-width: 600px) {
    .para {
      font-size: 10px;
    }
    .head {
        font-size: 30 px;
      }
  }

  @media screen and (max-width: 900px) {
    .para {
      font-size: 15px;
    }
    .head {
        font-size: 40px;
      }
  } 
@media screen and (max-width: 1500px) {
    .para {
      font-size: 20px;
    }
    .head {
        font-size: 50px;
      }
  }
 

  
